body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: pink;
  color: rgb(252, 31, 31);
  background-image: url(./rg5JRD5x.jpg);
}

h1 {
  color: white;
}

ul {
  padding: 16px;
  background-color: white;
}

li {
  font-size: larger;
  font-weight: 500;
}
